* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to top, rgb(186, 221, 186), rgb(184, 192, 76));
  height: 100vh;
}
.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}
.calculator {
  height: 465px;
  width: 338px;
  background-color: #000;
  box-shadow: 10px 10px 10px #777;
}

.calculator .head input {
  color: #fff;
  padding: 30px 10px;
  width: 100%;
  border: 1px solid #fff;
  font-size: 26px;
  background-color: #000;
}

.calculatorBody {
  border: 1px solid #fff;
  padding: 10px 10px;
}
.body1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.body1 button {
  height: 60px;
  width: 60px;
  background-color: #1d1b1b;
  border-radius: 50%;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.3s ease;
}
.body1 button:last-child {
  background-color: orange;
}
.body1 button:hover {
  background-color: #fff;
  color: #000;
}
.body1 button.big {
  width: 148px !important;
  border-radius: 30px;
}
